body {
    font-family: 'Spartan', sans-serif;
}

#header-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0 2vw 0 2vw;
}

#menu {
    justify-self: end;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    display: inline-flex;
}

#menu ul li a {
    color: black;
    padding: 0 0.5vw 0 0.5vw;
    text-decoration: none;
}

#menu ul li a.active {
    color: rgb(214, 0, 89);
}

hr {
    border: 0.5px solid rgb(37, 37, 37);
    margin: 0 2vw 0 2vw;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vw 2vw 5vw 2vw;
}

footer img {
    width: 5vw;
    max-width: 60px;
}

@media only screen and (max-width: 400px) {
    #menu ul li {
        display: block;
        text-align: right;
    }

    footer img {
        width: 10vw;
    }
}