body {
    font-family: 'Spartan', sans-serif;
}

#header-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0 2em 0 2em;
}

#menu {
    justify-self: end;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: black;
    padding: 0 0.5em 0 0.5em;
    text-decoration: none;
}

.active {
    background-color: rgb(255, 231, 234);
}